.home-page {
    gap: 2rem;
    padding: 4rem 0;
}

.home-page h1 {
    text-align: center;
}

.home-page section {
    align-items: stretch;
}

.home-page .no-reports {
    justify-content: center;
}

.home-page .no-reports h1 {
    font-size: 8rem;
}